extends ../layout

block content
  h2= asset ? 'Edit Asset' : 'Add Asset'

  form(method='POST', action=asset ? `/assets/edit/${asset.id}` : '/assets/add')
    .row
      .col-md-6
        .form-group
          label(for='serialNumber') Serial Number *
          input.form-control(
            type='text',
            name='serialNumber',
            value=asset ? asset.serialNumber : '',
            required
          )

      .col-md-6
        .form-group
          label(for='categoryId') Category *
          select.form-control(name='categoryId', required)
            option(value='') Select Category
            each cat in categories
              option(
                value=cat.id,
                selected=asset && asset.categoryId === cat.id
              )= cat.name

    .row
      .col-md-6
        .form-group
          label(for='make') Make
          input.form-control(
            type='text',
            name='make',
            value=asset ? asset.make : ''
          )

      .col-md-6
        .form-group
          label(for='model') Model
          input.form-control(
            type='text',
            name='model',
            value=asset ? asset.model : ''
          )

    .row
      .col-md-6
        .form-group
          label(for='branch') Branch
          input.form-control(
            type='text',
            name='branch',
            value=asset ? asset.branch : ''
          )

      .col-md-6
        .form-group
          label(for='purchaseDate') Purchase Date
          input.form-control(
            type='date',
            name='purchaseDate',
            value=asset && asset.purchaseDate
              ? new Date(asset.purchaseDate).toISOString().split('T')[0]
              : ''
          )

    .row
      .col-md-6
        .form-group
          label(for='purchasePrice') Purchase Price
          input.form-control(
            type='number',
            step='0.01',
            name='purchasePrice',
            value=asset ? asset.purchasePrice : ''
          )

    button.btn.btn-primary(type='submit') Save
    a.btn.btn-secondary.ml-2(href='/assets') Cancel
